<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Incident</title>
</head>
<body>
<h1>Incident</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Reason</th>
        <th>Cuantificacion</th>
    </tr>
    <tr>
        <td th:text="${incidentRegistry.id}"></td>
        <td th:text="${incidentRegistry.reason}"></td>
        <td th:text="${incidentRegistry.cuantificacion}"></td>
    </tr>
</table>

</body>
</html>
