<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Incidents Registries</title>
</head>
<body>
<h1>IncidentRegistry List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Reason</th>
        <th>Cuantificacion</th>
        <th>EMP.Name</th>
        <th>INC.Name</th>
    </tr>
    <tr th:each="incidentRegistry:${incidentRegistries}">
        <td th:text="${incidentRegistry.id}"></td>
        <td th:text="${incidentRegistry.reason}"></td>
        <td th:text="${incidentRegistry.cuantificacion}"></td>
        <td th:text="${incidentRegistry.employee.firstName}"></td>
        <td th:text="${incidentRegistry.incident.name}"></td>
    </tr>
</table>


</body>
</html>