<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Incidents</title>
</head>
<body>
<h1>Incident List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
    </tr>
    <tr th:each="incident:${incidents}">
        <td th:text="${incident.id}"></td>
        <td th:text="${incident.name}"></td>
        <td th:text="${incident.code}"></td>
    </tr>
</table>


</body>
</html>