<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Inventory</title>
</head>
<body>
<h1>Inventory</h1>
<table>
    <tr>
        <th>ID</th>
        <th>quantity</th>
    </tr>
    <tr>
        <td th:text="${inventory.id}"></td>
        <td th:text="${inventory.quantiy}"></td>
        <td th:text="${inventory.status}"></td>
    </tr>
</table>

</body>
</html>
