<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Inventories</title>
</head>
<body>
<h1>Inventory List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Inv.Item.Name</th>
    </tr>
    <tr th:each="inventory:${inventories}">
        <td th:text="${inventory.id}"></td>
        <td th:text="${inventory.quantiy}"></td>
        <td th:text="${inventory.status}"></td>
        <td th:text="${inventory.item.name}"></td>
    </tr>
</table>


</body>
</html>