<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>subCategories</title>
</head>
<body>
<h1>SubCategory List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
    </tr>
    <tr th:each="subCategory:${subCategories}">
        <td th:text="${subCategory.id}"></td>
        <td th:text="${subCategory.name}"></td>
        <td th:text="${subCategory.code}"></td>
        <!--   <td>
               <table>
                   <tr th:each="contract:${employee.contracts}">
                       <td th:text="${contract.id}">123</td>
                       <td th:text="${contract.initDate}">Jhon</td>
                   </tr>
               </table>
           </td>-->
    </tr>
</table>


</body>
</html>